* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Palette
Brown Dark (caffè tostato): #4B2E2B

Beige (crema/carta): #DCC7A1

White panna: #F8F4ED

Olive Green (naturale): #7B8C56

 */

.container-nav {
  background-color: #dcc7a1;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .navigation {
    background-color: #f8f4ed;
    border: 2px solid #4b2e2b;
    color: #fff;
    padding: 14px 0;
    width: 30%;
    margin: auto;

    border-radius: 10px;

    .nav-list {
      list-style: none;
      display: flex;
      justify-content: center;
    }
    .nav-item {
      margin: 0 15px;
      font-size: 1.2rem;

      .nav-link {
        color: white;
        font-size: 1rem;
        background-color: #4b2e2b;
        padding: 4px 8px;
        border: 2px solid #4b2e2b;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        transition: background-color 0.3s;

        &:hover {
          color: #4b2e2b;
          background-color: white;
        }
      }
    }
  }
}
